@font-face {
  font-family: 'Pterra';
  src: url('~roguefont/pterra.ttf');
}

@font-face {
  font-family: 'Dauphin';
  src: url('~roguefont/languages/elf.ttf') format('truetype');
}

@font-face {
  font-family: 'MasonAlternate';
  src: url('~roguefont/languages/dwarf.ttf');
}

@font-face {
  font-family: 'Furqan';
  src: url('~roguefont/languages/sand.ttf');
}

@font-face {
  font-family: 'Xaphan';
  src: url('~roguefont/languages/hell.ttf');
}

@font-face {
  font-family: 'FriskyVampire';
  src: url('~roguefont/languages/undead.ttf');
}

@font-face {
  font-family: 'Thief by The Riddler';
  src: url('~roguefont/languages/orc.ttf');
}

@font-face {
  font-family: 'Kingthings Petrock';
  src: url('~roguefont/languages/draconic.ttf');
}

@font-face {
  font-family: 'Emperialisme';
  src: url('~roguefont/languages/canilunzt.ttf');
}

@font-face {
  font-family: 'Yuji Boku';
  src: url('~roguefont/languages/kazengunese.ttf');
}

@font-face {
  font-family: 'Notredame';
  src: url('~roguefont/languages/otavan.ttf');
}

@font-face {
  font-family: 'Feronia';
  src: url('~roguefont/languages/etruscan.ttf');
}

@font-face {
  font-family: 'Jorvik Informal';
  src: url('~roguefont/languages/gronnic.ttf');
}

@font-face {
  font-family: 'Romeodn';
  src: url('~roguefont/languages/aavnic.ttf');
}

@font-face {
  font-family: 'Rasyideen';
  src: url('~roguefont/languages/merar.ttf');
}
